*{
    margin: 0;
    padding: 0;
 }
 
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
   overflow-x: hidden;
    scroll-behavior: smooth;
}
.main{
    width: 100%;
    height: 100%;
}
.navbar{
    z-index: 9999;
    position: fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 60px;
      background-color: rgb(171, 175, 161);
      color: white;
  
  }
  .link{
      transition: all ease .4s;
      font-weight: 500;
      font-size: x-large;
  }
  .option{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      font-size: larger;
  
  }

  .link:hover{
    color:rgb(89, 60, 255);
    border-bottom: 2px solid rgb(237, 230, 230);
    cursor: pointer;
}
.contactus{
    padding: 12px;
    background-color: rgb(89, 60, 255);
    border-radius: 25px;
    color: white;
    font-size: large;
    font-weight: 600;
    box-shadow: none;
    transition: all ease .6s;

}
.contactus:hover{
    background-color: #71e915;
    cursor: pointer;
}

.branding{
    font-weight: 800;
    font-family:cursive;
    font-size: x-large;
}

/* landing page */

.container{
    width: 100%;
    height: 800px;
    background-color: rgb(214, 211, 211);
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin: auto;

}

.left,.right,.signinpage{
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;


}

.right{
    background-color: rgb(89, 60, 255);
    border-radius: 0 10px 10px 0;
}
.left{
    border-radius: 10px 0 0 10px;
    background-color:white;

}
input[type=email],input[type=password],input[type=text]  {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 130px;
    background-color: #4b8add;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type=submit]:hover {
    background-color: #71e915;
  }
  .brand{
    font-weight: 600;
    font-family: cursive;
    font-size: 4vw;
    color: #a59d9d;

  }
  .brand2{
    font-weight: 600;
    font-family: cursive;
    font-size: 4vw;
    color: white;
  }
  #signin-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

  }
  #signupform{
    display: none;
  }

  
  #signupinfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;



  }
  #signupinfo p{
    font-size:x-large;
    color: #a59d9d;
    font-weight: 700;
    width: 70%;
    text-align: center;
  }


  /* signupform */

  #signupform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    display: none;
  }
  #signup-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #heading{
    font-weight: 600;
    font-family: cursive;
    font-size: 4vw;
    color: #a59d9d;
    text-align: center;
  }
  #but{
    justify-content: center;
    display: flex;
    align-items: center;
  
  }

  #signininfo{
    display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
    
  
  }
  #signininfo p{
  
    font-size:x-large;
    color: #a59d9d;
    font-weight: 700;
    width: 70%;
    text-align: center;
  
  }
  #hello{
    color: rgb(89, 89, 243);
  }
  #hello:hover{
    cursor: pointer;
    color: rgb(59, 59, 240);
  }


  /* CSS styles for the carousel */
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }

  .wrapper i:active{
    transform: translateY(-50%) scale(0.85);
  }
  .wrapper i:first-child{
    left: -22px;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  .carousel::-webkit-scrollbar {
    display: none;
  }
  .carousel.no-transition {
    scroll-behavior: auto;
  }
  .carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
  }

  .carousel.dragging .card {
    cursor: grab;
    user-select: none;
  }
  .carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: #fff;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    background-color: white;
  }
  .carousel .card .img {
    background: #8B53FF;
    height: 148px;
    width: 148px;
    border-radius: 50%;
  }
  .card .img img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #fff;
  }
  .carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
    color: black;
  }
  .carousel .card span {
    color: rgb(89, 60, 255);
    font-size: x-large;
    font-size: 1.31rem;
  }
  @media screen and (max-width: 900px) {
    .wrapper .carousel {
      grid-auto-columns: calc((100% / 2) - 9px);
    }
  }
  @media screen and (max-width: 600px) {
    .wrapper .carousel {
      grid-auto-columns: 100%;
    }
  }
  .courses{
    width: 100%;
    height: 650px;
    background-color: rgb(187, 142, 232);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card{
    transition: all ease .5s;
  
  }
  .card:hover{
    transform: scale(0 1.12);
    z-index: 99;
  }
  #courseheading{
    width: 100%;
    height: 130px;
    text-align: center;
    background-color: rgb(187, 142, 232);
    font-size: 120px;
    font-weight: 600;
    text-shadow: 5px 5px 3px black;
    color: white;
  padding-top: 20px;
    
  
  }

  .nothing{
    text-decoration: none;
    color: white;
  }
  
  .program{
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: white;
  
  }
  .firstpart{
    width: 100%;
    height: 30%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .thirdpart{
    width: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%
  
  }
  .firstpart h1{
    font-size: 11vw;
    color: rgb(47, 47, 47);
  }
  .firstpart p{
    font-size: 30px;
    width: 50%;
    color: rgb(108, 104, 104);
    text-align: center;
  }
  .thirdpartinfo{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  
  }
  .thirdpartinfo h1{
    font-size: 5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  
  }
  
}
.thirdpartinfo p{
  font-size: x-large;
  color: rgb(98, 98, 227);
  font-weight: 500;
}


/* Faculty */

.faculty{

  width: 100%;
  height: 800px;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("teach.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.facultyheading{
    font-size: 11vw;
    color: rgb(182, 174, 174);
    text-align: center;
    text-shadow: 8px 8px 4px rgb(104, 100, 100);
   width: 100%;
  font-weight: 700;
  font-family: cursive;
  
  }
  
  .facultylist{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
    gap: 20px;
  }
  .facultycard{
    width: 355px;
   background-color:white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 20px;
   height: 450px;
   gap: 40px;
  }
  
#facultycard1,#facultycard3{
    transform: scale(.9);
  }
  .facultycard img{
    border-radius: 50%;
  }
  
  .teacherinfo{
    display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 10px;
  }
  
  .teacherinfo h2{
    color:#6b6666;
    font-weight: 800;
    font-family: cursive;
    font-size: 40px;
  
  }
  .teacherinfo p{
    color: rgb(146, 144, 144);
    font-size: 15px;
    font-weight: 700;
  
  }