*{
    margin: 0;
    padding: 0;
 }
 
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
   overflow-x: hidden;
    scroll-behavior: smooth;
}
.main{
    width: 100%;
    height: 100%;
}
.navbar{
    z-index: 9999;
    position: fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 60px;
      background-color: rgb(171, 175, 161);
      color: white;
  
  }
  .link{
      transition: all ease .4s;
      font-weight: 500;
      font-size: x-large;
  }
  .option{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      font-size: larger;
  
  }

  .link:hover{
    color:rgb(89, 60, 255);
    border-bottom: 2px solid rgb(237, 230, 230);
    cursor: pointer;
}
.contactus{
    padding: 12px;
    background-color: rgb(89, 60, 255);
    border-radius: 25px;
    color: white;
    font-size: large;
    font-weight: 600;
    box-shadow: none;
    transition: all ease .6s;

}
.contactus:hover{
    background-color: #71e915;
    cursor: pointer;
}