*{
    margin: 0;
    padding: 0;
 }
 
html,body{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
   overflow-x: hidden;
    scroll-behavior: smooth;
}
.main{
    width: 100%;
    height: 100%;
}
.navbar{
    z-index: 9999;
    position: fixed;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 60px;
      background-color: rgb(171, 175, 161);
      color: white;
  
  }
  .link{
      transition: all ease .4s;
      font-weight: 500;
      font-size: x-large;
  }
  .option{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      font-size: larger;
  
  }

  .link:hover{
    color:rgb(89, 60, 255);
    border-bottom: 2px solid rgb(237, 230, 230);
    cursor: pointer;
}
.contactus{
    padding: 12px;
    background-color: rgb(89, 60, 255);
    border-radius: 25px;
    color: white;
    font-size: large;
    font-weight: 600;
    box-shadow: none;
    transition: all ease .6s;

}
.contactus:hover{
    background-color: #71e915;
    cursor: pointer;
}

.branding{
    font-weight: 800;
    font-family:cursive;
    font-size: x-large;
}

/* landing page */

.container{
    width: 100%;
    height: 800px;
    background-color: rgb(214, 211, 211);
}

.form{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin: auto;

}

.left,.right,.signinpage{
    width: 50%;
    height: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;


}

.right{
    background-color: rgb(89, 60, 255);
    border-radius: 0 10px 10px 0;
}
.left{
    border-radius: 10px 0 0 10px;
    background-color:white;

}
input[type=email],input[type=password],input[type=text]  {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 130px;
    background-color: #4b8add;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 25px;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  input[type=submit]:hover {
    background-color: #71e915;
  }
  .brand{
    font-weight: 600;
    font-family: cursive;
    font-size: 4vw;
    color: #a59d9d;

  }
  .brand2{
    font-weight: 600;
    font-family: cursive;
    font-size: 4vw;
    color: white;
  }
  #signin-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

  }
  #signupform{
    display: none;
  }

  
  #signupinfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;



  }
  #signupinfo p{
    font-size:x-large;
    color: #a59d9d;
    font-weight: 700;
    width: 70%;
    text-align: center;
  }


  /* signupform */

  #signupform{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    display: none;
  }
  #signup-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #heading{
    font-weight: 600;
    font-family: cursive;
    font-size: 4vw;
    color: #a59d9d;
    text-align: center;
  }
  #but{
    justify-content: center;
    display: flex;
    align-items: center;
  
  }

  #signininfo{
    display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
    
  
  }
  #signininfo p{
  
    font-size:x-large;
    color: #a59d9d;
    font-weight: 700;
    width: 70%;
    text-align: center;
  
  }
  #hello{
    color: rgb(89, 89, 243);
  }
  #hello:hover{
    cursor: pointer;
    color: rgb(59, 59, 240);
  }


  /* CSS styles for the carousel */
.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
  }
  .wrapper i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
  }